.searchResults {
    width: 22rem;
    display: flex;
    background-color: white;
    color: black;
    flex-direction: column;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 10px;
    max-height: 200px;
    overflow-y: scroll;
    position: absolute; 
    z-index: 3; 

}

.single_user{
    padding: 10px 18px;
    font-size: large;
    
}

.single_user:hover{
    background-color: #efefef;
}