.post-detail-main{
    display: flex;
    width: 100%;
    height: 100%;
    color: white;
    background-color: #141d26;
}

.post-detail-middle-container{
    flex: 1;
    border-left: 1px solid rgb(195, 186, 186);;
    border-right: 1px solid rgb(195, 186, 186); ;
    min-width: 38rem;
}

.post-detail-nav{
    display: flex;
    padding: 0.8rem;
}

.left-arrow-icon{
    /* padding-left: 1rem; */
    padding-right: 1rem;
}

.post-detail-post-title{
    font-size: larger;
    font-weight: bold;
    padding-left: 1rem;
}

.post-detail-content{
    padding: 1rem;
}

.post-time-detail{
    display: flex;
    font-size: small;
    padding-left: 1rem;
    color:  rgb(176, 171, 171);;
}

.dot{
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

.actions-upperline{
    width: 36rem;
    background-color: white;
    height: 0.1rem;
    margin: 1rem;
}

.post-detail-actions{
    padding-left: 1rem;
    padding-right: 1rem;
}

.post-reply-container{
    display: flex;
    padding-left: 1rem;
    padding-bottom: 1rem;
    align-content: center;
    border-bottom: 1px solid white;
}

.post-reply-dp-container{
    border-radius: 1.2rem;
    width: 2.4rem;
    height: 2.4rem;
    padding: auto;
}

.post-reply-dp-image{
    width: 100%;
    height: 100%;
    border-radius: 1.5rem;
}

.post-reply-text-input{
    padding-left: 0.5rem;
    width: 27.5rem;

}

.post-reply-text-input input{
    width: 100%;
    height: 100%;
    border: none;
    color: white;
    font-size: large;
    background-color: #141d26;
}

.post-reply-button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-reply-button button{
    width: 4.4rem;
    height: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 1rem;
    font-weight: bold;
    background-color: aliceblue;
}

.post-reply-button button:hover{
    cursor: pointer;
}