.post-card{
    display: flex;
    border-bottom: 1px solid rgb(195, 186, 186);
    position: relative;
    width: 37rem;
    padding-top: 0.7rem;
    padding-left: 1rem;
    /* background-color: #fff; */
}

.profile-picture-container{
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 0.5rem;
}

.profile-picture{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.profile-content-card{
    
}

.post-header{
    display: flex;
}

.post-header-name{
    font-weight: bold;
    margin-right: 0.5rem;
}

.post-header-username{
    filter: brightness(0.7); 
}

.options{
    position: absolute;
    margin-left: 1rem;
    top: .5rem;
    right: .2rem;
    display: flex;
    width: 2rem;
    justify-content: space-between;
}

.options:hover{
    cursor: pointer;
}
.post-content{
    margin-bottom: 0.5rem;
    width: 32rem;
}

.post-content-image{
    margin-top: 1rem;;
    width: 100%;
}

.post-actions{
    display: flex;
    width: 100%;
    /* justify-content: space-between; */
    margin-bottom: 1rem;
}

.sidebar-icon{
    margin-right: 1rem;
    /* font-size: large; */
}

.post-actions-like{
    margin-left: 6rem;
    
}

.post-actions-bookmark{
    margin-left: 6rem;
    margin-right: 0;
}

.post-options_modal_outer_div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    /* backdrop-filter: blur(7px); */
    height: 100vh;
    width: 100vw;
    z-index: 1000;
  
  }
  
  .post-options_modal_outer_container {
    display: flex;
    /* align-items: center; */
    position: relative;
    /* right: 0;
    top: 0; */
    /* flex-direction: column; */
    /* padding: 24px; */
    /* border-radius: 12px; */
    overflow: auto;
    /* max-width: 35rem; */
    /* width: 100%; */
    max-height: 80vh;
    background-color: #003153;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset,
      rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
  }
  
  /* .post-options_modal_outer_container textarea {
    background: none;
    color: whitesmoke;
    border: none;
    border-radius: 5px;
    resize: none;
    font-size: 14px;
    width: -webkit-fill-available;
    padding: 0.5rem;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset,
      rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
  } */
  
  /* .post-options_modal_outer_container textarea:focus,
  .post-options_modal_outer_container textarea:hover {
    outline: none;
  } */
  
  .post-options_modal_outer_container button {
    font-size: 15px;
    margin-top: 0.5rem;
    padding: 0.5rem;
    background: rgb(29, 155, 240);
    color: whitesmoke;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }