.post-card{
    display: flex;
    border-bottom: 1px solid white;
    position: relative;
    width: 37rem;
    margin-top: 0.5rem;
    /* padding: 1rem; */
    /* margin: 1rem; */

}
.profile-picture-container{
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 0.5rem;
}
.profile-picture{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.post-header{
    display: flex;
}

.post-header-name{
    font-weight: bold;
    margin-right: 0.5rem;
}

.options{
    position: absolute;
    margin-left: 1rem;
    top: 0;
    right: .5rem;
    display: flex;
}
.post-content{
    margin-bottom: 0.5rem;
}
.post-actions{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}