.post-card{
    display: flex;
    margin: 0.5rem;
    border-bottom: 1px solid white;
    position: relative;
    /* justify-content: space-evenly; */
}

.profile-picture{
    margin-right: 1rem;
}

.post-header{
    display: flex;
    
}

.post-header-name{
    font-weight: bold;
    margin-right: 0.5rem;
}

.options{
    position: absolute;
    top: 0;
    right: 0;
    
}
.post-content{
    margin-bottom: 0.5rem;
}
.post-actions{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}