.home-side-nav {
    display: flex;
    flex-direction: column;
    flex: wrap;
    width: 52%;
    /* max-height: 50rem; */
    /* min-height: 50rem; */
    height: 50rem;
}

.home-side-nav-content{
    /* display: flex; */
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    margin-left: 40%;
    margin-bottom: 80%;
}

.ind-div{
    font-size: large;
    margin-top: 1rem;
}

.ind-div:hover{
   
}

.lsr-userProfile{
    margin-left: 40%;
    display: flex;
    flex-wrap: wrap;
    
    /* background-color: aliceblue; */
}

.image-container{
    width: 2rem;
    height: 2.5rem;
    margin-right: 1rem;
    display: flex;
    flex-wrap: wrap;
}

.image{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
}